header, body {
    background: whitesmoke;
}

.tempTagMax, .tempValueMax, .tempTagMin, .tempValueMin, .textFieldSmallTitle, .dayTime, .dayTimeSmall, .placeName, .dateField, .placeTempMax, .placeTempMin, .windPlaceName{
    text-align: center;
}

.dayTimeSmall {
    margin-bottom: 15px;
    margin-top: 15px;
}

.dateField, .placeName {
    border-bottom: black thin solid;
    margin-bottom: 25px;
    margin-top: 25px;
}

.placeRow {
    align-content: center;
    justify-content: center;
}
.placeColumn {
    width: 50%;
}

.textFieldSmallTitle {
    font-size: larger;
}

.windPlaceName {
    margin-top: 35px;
}

.tempValueMin, .tempValueMax, .textFieldBody, .dayTimeSmall, .textFieldSmallTitle, .windPlaceName {
    font-size: large;
}

.temperatureColMax, .temperatureColMin {
    margin: 10px;
}

.temperatureColMax {
    outline: #ffda94 thick groove;
}

.temperatureColMin {
    outline: #d9fffa thick groove;
}